<h2 style='color: crimson; border-bottom: 1px seagreen dotted'>MUMBAI TRAVEL TIMES {Q4 2019}</h2>

Access Dataset here ---> [Uber Movement Mumbai](https://movement.uber.com/explore/mumbai/travel-times/query?si=254&ti=&ag=hexclusters&dt[tpb]=ALL_DAY&dt[wd;]=1,2,3,4,5,6,7&dt[dr][sd]=2020-03-01&dt[dr][ed]=2020-03-31&cd=&sa;=72.9132679,19.1334302&sdn=Indian%20Institute%20of%20Technology%20Bombay,%20Main%20Gate%20Rd,%20IIT%20Area,%20Powai,%20Mumbai,%20Maharashtra&lng.=72.8508724&lat.=19.122537&z.=10.01&lang=en-US)

![Mumbai Trave Times](mumbai_hexagons.png)
<p style='color:orange; padding-left: 20em; border: seagreen 1px dotted'> MUMBAI ORIGIN DESTINATION TRAVELTIME HEATMAP </p>

In [1]:
# install requirements
!pip install -q -r req.txt

In [2]:
# All imports

import numpy as np
import pandas as pd
import json


import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [10, 5]

import seaborn as sns


from prettyprinter import pprint

In [3]:
# read dataframe and metadata

df = pd.read_csv('mumbai-hexclusters-2019-4-All-HourlyAggregate.csv')
hexagons = json.load(open('mumbai_hexclusters.json'))['features']

In [4]:
# peek into dataframe
df.head()

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,171,206,15,2949.31,1139.79,2772.51,1.40
1,255,439,10,5045.33,839.06,4978.27,1.18
2,110,18,0,2932.71,537.47,2886.25,1.19
3,38,7,5,2690.29,741.75,2591.41,1.31
4,277,219,10,4848.73,730.67,4796.48,1.16

```python

### definition ###
hod = hour of day
```

In [5]:
# peek metadata
pprint(hexagons[0])

{
    'type': 'Feature',
    'properties': {
        'MOVEMENT_ID': '1',
        'DISPLAY_NAME': '0, Beverly Park Rd, Chandan Shanti, Mira Road East'
    },
    'geometry': {
        'type': 'Polygon',
        'coordinates': [
            [
                [72.87164792379636, 19.28533060455805],
                [72.8710709563304, 19.28699016299829],
                [72.87222988623245, 19.288411970470293],
                [72.87165291120459, 19.290071498239048],
                [72.86991701541635, 19.29030919072361],
                [72.86934004196853, 19.29196866000375],
                [72.86760418931208, 19.292206301216417],
                [72.86702721744616, 19.293865712003942],
                [72.86529140792581, 19.294103301944087],
                [72.86413260267913, 19.292681516129214],
                [72.86470956539794, 19.291022133151962],
                [72.86355078499479, 19.289600351689437],
                [72.86412774015048, 19.287940938034637],
                [72.86296898459013, 19.286519160934247],
                [72.86354593218276, 19.28485971661055],
                [72.86528164448423, 19.284622021569387],
                [72.86585859366207, 19.282962518763945],
                [72.86759434909965, 19.28272477245706],
                [72.86875318776426, 19.284146563988156],
                [72.87048901873914, 19.283908801446383],
                [72.87164792379636, 19.28533060455805]
            ]
        ]
    }
}

In [6]:
m = df.mean_travel_time

In [7]:
df[df.mean_travel_time < 60].size / df.size

0.0001748548827610325

In [31]:
gdf = df.groupby(['sourceid','dstid', 'hod']).mean()

In [33]:
gdf

                    mean_travel_time  standard_deviation_travel_time  \
sourceid dstid hod
1        1     23             507.03                          656.41
         2     7             6050.17                          689.19
               17            7151.45                          995.62
               19            8188.67                         1430.46
         3     0             3043.06                          499.29
...                              ...                             ...
695      691   20            1939.44                          599.61
               21            1602.75                          295.28
               22            1663.77                          365.20
               23            1498.69                          206.31
         695   23             402.77                         1014.64

                    geometric_mean_travel_time  \
sourceid dstid hod
1        1     23                       234.97
         2     7                       6012.71
               17                      7085.07
               19                      8061.85
         3     0                       3000.24
...                                        ...
695      691   20                      1866.60
               21                      1580.83
               22                      1628.32
               23                      1485.00
         695   23                        92.35

                    geometric_standard_deviation_travel_time
sourceid dstid hod
1        1     23                                       3.54
         2     7                                        1.12
               17                                       1.15
               19                                       1.19
         3     0                                        1.19
...                                                      ...
695      691   20                                       1.30
               21                                       1.17
               22                                       1.22
               23                                       1.14
         695   23                                       3.98

[5684714 rows x 4 columns]

(5684714, 4)